/* all styles are here */
body{
    font-family: 'Poppins', sans-serif;
    width: 1440px;
    height: 3750px;  
}
/* header part styles starts  */
.topper{
    width: 1440px;
    height: 677px;
    background: #2D25A0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.topper .name{


    /* font-size: 10px;
    line-height:64px; */


    color: #FFFFFF;
    height: 230px;
    width: 485px;
   padding: 100px;
}

.name .live{
    background-color:#E02C6D ;
    width: 168px;
    height: 44px;
}
.live:hover{
    background-color: black;
}

.name .live .align{
    Padding:10px 24px 10px 24px;
   
}
.live a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.live .fas{
    width: 24px;
height: 24px;
}

.topper .model{
    padding-bottom: 200px;
    Width: 556.01px;
    Height: 438px;
 
}

.model img{
    width: 100%;
    height: 100%;
}



/* header part styles end  */

/* section part  */
.layout{
    margin: 70px 210px 10px 180px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    
}
.player{
    Width:330px;
    Height:474px;  
    padding: 15px 15px 33px 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.player img{
    
    width: 100%;
}

/* footer style  */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Football */
.logo_design{
    display: flex;
   justify-content: center;
   align-items: center;
}
.logo_design .design{
/* Football */
width: 227.82px;
height: 67.42px;
font-style: normal;
font-weight: normal;
font-size: 72.5806px;
line-height:99%;
/* or 99% */
letter-spacing: 2.01613px;
color: #10437A;
font-family: 'Niconne', cursive;
}

.icons{
    display: flex;
    align-items: center;
    width: 170px;
    height: 32px;
}
.icons .fab{
    margin-right: 14px;
    align-self: center;
    height: 32px;
    width: 32px;
}
@media only screen and (max-width:688px) 
{
    

  .topper{
    width: 100%;
        flex-direction: column;
        margin-bottom: 0;
   }

  .name{
    color: #FFFFFF;
    height: 230px;
    width:100%;
   padding: 100px;
   padding-bottom: 0;
   }
  .topper .model{
    Width: 500.01px;
    height: 90%;
 
   }
   .layout{
    margin: 70px 200px 10px 180px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 27px;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
   
    width: fit-content;
    margin-left: 50px;
}

 



}

